:root {
    /* Grid spacing */

    --sp: 8px;
    --sp2: calc(2 * var(--sp));
    --sp3: calc(3 * var(--sp));
    --sp4: calc(4 * var(--sp));
    --sp5: calc(5 * var(--sp));
    --sp6: calc(6 * var(--sp));
    --sp7: calc(7 * var(--sp));
    --sp8: calc(8 * var(--sp));
    --sp12: calc(12 * var(--sp));
    --sp16: calc(16 * var(--sp));
    --sp24: calc(24 * var(--sp));
    --sp32: calc(32 * var(--sp));
    --sphalf: calc(0.5 * var(--sp));

    /* Typography */

    --font-size: 14px;
    --font-size-small: 12px;
    --font-size-smaller: 10px;
    --font-size-large: 16px;
    --font-size-larger: 18px;
    --font-weight: 400;
    --font-weight-bold: 500;
    --line-height: 16px;

    --font-main: Source Sans Pro, sans-serif;
    --font-monospace: Menlo, Consolas, Monaco, 'Lucida Console', 'Liberation Mono',
        'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
    --font-monospace: monospace;
    --font-main: Fira Sans, sans-serif;
    --font-monospace: Fira Code, monospace;


    /* Commons */

    --border-radius: 4px;

    /* Color tokens */

    --color-base-0: hsl(200deg, 10%, 100%);
    --color-base-1: hsl(200deg, 10%, 96%);
    --color-base-2: hsl(200deg, 10%, 92%);
    --color-base-3: hsl(200deg, 10%, 85%);

    --color-text-0: hsl(200deg, 10%, 20%);
    --color-text-1: hsl(200deg, 10%, 40%);
    --color-text-2: hsl(200deg, 10%, 55%);
    --color-text-3: hsl(200deg, 10%, 68%);

    --color-highlight-0: hsl(48deg, 90%, 90%);
    --color-highlight-1: hsl(48deg, 90%, 75%);
    --color-highlight-2: hsl(40deg, 60%, 65%);
    --color-highlight-3: hsl(40deg, 60%, 48%);

    --color-focus-0: hsl(205deg, 75%, 95%);
    --color-focus-1: hsl(205deg, 75%, 85%);
    --color-focus-2: hsl(205deg, 75%, 75%);
    --color-focus-3: hsl(205deg, 75%, 65%);

    --color-success-0: hsl(120deg, 50%, 90%);
    --color-success-1: hsl(120deg, 50%, 75%);
    --color-success-2: hsl(120deg, 50%, 50%);
    --color-success-3: hsl(120deg, 50%, 40%);
    --color-success: var(--color-success-2);
    --color-success-text: #fff;

    --color-danger-0: hsl(0deg, 75%, 90%);
    --color-danger-1: hsl(0deg, 75%, 70%);
    --color-danger-2: hsl(0deg, 75%, 60%);
    --color-danger-3: hsl(0deg, 75%, 50%);
    --color-danger: var(--color-danger-2);
    --color-danger-text: #fff;

    --color-overlay: hsla(200deg, 10%, 85%, 25%);
    --color-base-overlay: hsla(200deg, 10%, 96%, 95%);

    --color-primary: hsl(205deg, 85%, 45%);
    --color-primary-text: #fff;

    --color-warn: var(--color-highlight-3);
    --color-warn-text: #000;

    --color-invalid: var(--color-danger-1);
    --color-error: var(--color-danger-2);

    --color-error-text: #fff;
    --color-marketing-text: hsla(131, 96%, 44%, 1);

    /* Base components */

    --background-color: var(--color-base-0);
    --text-color: var(--color-text-0);
    --shadow-color: rgba(0,0,0,.25);

    --input-size-larger: var(--sp6);
    --input-size-large: var(--sp5);
    --input-size: var(--sp4);
    --input-size-small: var(--sp3);
    --input-size-smaller: var(--sp2);

    --popup-width: 320px;
    --popup-width-small: 240px;
    --modal-width: 480px;
    --drawer-width: 320px;

    /* Data type tokens */
    --color-type-any: var(--color-base-3);
    --color-type-any-alt: var(--color-text-3);
    --color-type-null: var(--color-base-3);
    --color-type-null-alt: var(--color-text-3);
    --color-type-number: hsl(48deg, 80%, 60%);
    --color-type-number-alt: hsl(48deg, 100%, 40%);
    --color-type-integer: hsl(48deg, 80%, 60%);
    --color-type-integer-alt: hsl(48deg, 100%, 40%);
    --color-type-string: hsl(132deg, 50%, 70%);
    --color-type-string-alt: hsl(132deg, 40%, 50%);
    --color-type-boolean: hsl(192deg, 60%, 70%);
    --color-type-boolean-alt: hsl(192deg, 60%, 50%);
    --color-type-object: hsl(264deg, 60%, 80%);
    --color-type-object-alt: hsl(264deg, 40%, 65%);
    --color-type-array: hsl(320deg, 60%, 70%);
    --color-type-array-alt: hsl(320deg, 60%, 60%);

    --color-method-GET: var(--color-type-string-alt);
    --color-method-POST: var(--color-type-object-alt);
    --color-method-PUT: var(--color-type-number-alt);
    --color-method-PATCH: var(--color-type-boolean-alt);
    --color-method-DELETE: var(--color-danger-1);

    /* Misc */

    --logo-color-0: #005b9c;
    --logo-color-1: #0090f9;
    --dialog-background-color: hsl(204deg, 100%, 9%);
}

html.dark {
    --color-base-0: hsl(205deg, 20%, 12%);
    --color-base-1: hsl(205deg, 20%, 20%);
    --color-base-2: hsl(205deg, 20%, 28%);
    --color-base-3: hsl(205deg, 20%, 36%);

    --color-text-0: hsl(205deg, 20%, 85%);
    --color-text-1: hsl(205deg, 20%, 75%);
    --color-text-2: hsl(205deg, 20%, 60%);
    --color-text-3: hsl(205deg, 20%, 50%);

    --color-highlight-0: hsl(48deg, 50%, 30%);
    --color-highlight-1: hsl(48deg, 50%, 40%);
    --color-highlight-2: hsl(48deg, 50%, 50%);
    --color-highlight-3: hsl(48deg, 50%, 60%);

    --color-focus-0: hsl(205deg, 50%, 25%);
    --color-focus-1: hsl(205deg, 50%, 35%);
    --color-focus-2: hsl(205deg, 50%, 45%);
    --color-focus-3: hsl(205deg, 50%, 55%);

    --color-overlay: hsl(205deg, 15%, 32%, 25%);
    --color-base-overlay: hsla(205deg, 15%, 26%, 95%);

    --logo-color-0: hsl(205deg, 15%, 85%);
    --logo-color-1: #5fbcff;
    --dialog-background-color: hsl(205deg, 15%, 9%);
}
